*/logs/log-*.php
!*/logs/index.html
*cache/
*/access_log/
*/public/upload/
!*/cache/index.html
!*/cache/.htaccess
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
.nb-gradle/
.idea/
public/upload/__cache*
nbproject/*
application/cache/*
public/upload/__cache/*
public/upload/*
